@model BibliotecaUTN.Models.Libro

@{
    ViewData["Title"] = "Create";
}

<div id="controllers">
    <div id="controllers-contenedor">
        <h3 id="controllers-titulo">Agregar nuevo Libro</h3>

        <form asp-action="Create">
            <div id="create-edit-contenido">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CantidadCopias" class="control-label"></label>
                    <input asp-for="CantidadCopias" class="form-control" />
                    <span asp-validation-for="CantidadCopias" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Editorial" class="control-label"></label>
                    <select asp-for="id_editorial" class="form-control">
                        @*Podríamos poner los id en value y darle el nombre manualmente, pero de este otro modo es dinámico*@
                        @{
                            foreach (var item in ViewBag.Editorial)
                            {
                                <option value="@item.Id">@item.Nombre</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="id_editorial" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Autor" class="control-label"></label>
                    <select asp-for="id_autor" class="form-control">
                        @{
                            foreach (var item in ViewBag.Autor)
                            {
                                <option value="@item.Id">@item.Nombre</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="id_autor" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Genero" class="control-label"></label>
                    <select asp-for="id_genero" class="form-control">
                        @{
                            foreach (var item in ViewBag.Genero)
                            {
                                <option value="@item.Id">@item.Nombre</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="id_genero" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Ubicacion" class="control-label"></label>
                    <select asp-for="id_ubicacion" class="form-control">
                        @{
                            foreach (var item in ViewBag.Ubicacion)
                            {
                                <option value="@item.Id">@item.Nombre</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="id_ubicacion" class="text-danger"></span>
                </div>
            </div>

            <div id="controllers-btns">
                <a href="@Url.Action("Index", "Libro")">Volver</a>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
