@model BibliotecaUTN.Models.Libro

@{
    ViewData["Title"] = "Delete";
}

<div class="controllers">
    <div class="controllers-contenedor">
        <h3 class="controllers-titulo">¿Está seguro que desea eliminar este libro?</h3>

        <dl class="details-delete-contenido">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Autor)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Autor.Nombre)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Genero)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Genero.Nombre)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Editorial)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Editorial.Nombre)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CantidadCopias)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CantidadCopias)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Ubicacion)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Ubicacion.Nombre)
            </dd>
        </dl>
    
        <form asp-action="Delete">
            <div class="controllers-btns">
                <a href="@Url.Action("Details", "Libro", new { id = Model.Id })">Volver</a>
                <input type="submit" class="delete-btn" value="Eliminar" />
            </div>
        </form>

    </div>
</div>
