@model BibliotecaUTN.Models.Libro

@{
    ViewData["Title"] = "Details";
}

<div id="controllers">
    <div id="controllers-contenedor">
        <h2 id="controllers-titulo">@Html.DisplayFor(model => model.Nombre)</h2>

        <dl id="details-delete-contenido" class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Autor)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Autor.Nombre)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Genero)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Genero.Nombre)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Editorial)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Editorial.Nombre)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CantidadCopias)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CantidadCopias)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Ubicacion)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Ubicacion.Nombre)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
        </dl>
        <div id="controllers-btns">
            <a href="@Url.Action("Index", "Libro")">Volver</a>
            <a href="@Url.Action("Edit", "Libro", new { id = Model.Id })">Editar</a>
            <a href="@Url.Action("Delete", "Libro", new { id = Model.Id })">Eliminar</a>
        </div>
    </div>
</div>
