@model IEnumerable<BibliotecaUTN.Models.Libro>

@{
    ViewData["Title"] = "Index";
}

<div id="controllers">
    <div id="lista-contenedor">
        <h1>Lista de Libros</h1>
        <div id="controllers-btns">
            <a asp-action="Create">Agregar nuevo Libro</a>
        </div>

        @if (Model.Count() > 0)       //IF PARA SABER SI HAY O NO LIBROS Y MOSTRAR UN MSG SI NO
        {
            <table id="lista-tabla">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Autor)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Genero)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Editorial)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Autor.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Genero.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Editorial.Nombre)
                        </td>
                        <td id="controllers-btns">
                                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                        </td>
                    </tr>
            }
                </tbody>
            </table>
            <p>Hay @Model.Count() libros registrados</p>
        }
        else
        {
            <div class="alert alert-info">Aún no hay libros registradas</div>
        }
    </div>
</div>
